html {
  background-color: rgb(50, 54, 86);
}

#root {
  background-color: rgb(50, 54, 86);
}

.navbar-nav li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 6rem;
}

.navbar-nav li:hover {  
  text-decoration: underline;
}

.nav-active {
  background: rgb(146, 146, 146);
}

.none {
  text-decoration: none;
  color: white;
}

.hero-image {
  background-image: url(/public/hero-image.jpg); 
  padding-bottom: 5px;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

p {
  background-color: transparent;
  color: white;
  font-size: large;
}

.name {
  padding-left: 25px;
}

.about {
  width: 50%;
  text-align: center;
}

.portrait {
  height: 250px;
  width: 250px;
}

.hero-padding {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 50px;
}

.padding-top {
  padding-top: 5rem;
}

.contact-form {
  padding: 5rem 25rem 0 25rem;
}

@media screen and (max-width: 1200px) {
  .contact-form {
    padding: 5rem 3rem 0 3rem;
  } 
}

@media screen and (max-width: 480px) {
  .portrait {
    height: 150px;
    width: 150px;
  }

}